@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap");
@import "tailwindcss";

@theme {
  --font-lato: "Lato", sans-serif;
  --font-oswald: "Oswald", sans-serif;

  --color-primary: #00c5ff;
  --color-accent: #ff3a00;
  --color-darkest: #181818;
  --color-dark: #282828;
  --color-light: #d9d9d9;
}

@layer base {
  html {
    @apply motion-safe:scroll-smooth;
  }

  body {
    @apply bg-darkest font-lato text-base text-white;
  }

  :where(h1, h2, h3, h4, h5, h6) {
    @apply font-oswald font-semibold;
  }

  h1 {
    @apply text-4xl;

    @variant md {
      @apply text-5xl;
    }
  }
}

@layer utilities {
  .px-page {
    @apply px-4 sm:px-6 lg:px-8;
  }
}

@layer components {
  .btn {
    @apply inline-flex items-center justify-center rounded-md border border-transparent bg-slate-800 px-4 py-2 text-sm font-medium text-gray-100 shadow-sm transition duration-150 ease-in-out;
  }
}

@custom-variant hocus (&:hover, &:focus);
@custom-variant hocus-visible (&:hover, &:focus-visible);
